{% extends 'base.html.twig' %}
{% block title %}Form{% endblock %}

{% block body %}
    <form action="{{ path( action, {id : _id})  }}" method="post">
        <label for="fId">Id:</label>
        <input type="text" id="fId" name="id" value="{{ _id }}" disabled><br><br>

        <label for="fName">Name:</label>
        <input type="text" id="fName" name="name"><br><br>

        <label for="fPrice">Price :</label>
        <input type="number" id="fPrice" name="price"><br><br>

        <label for="fDesc">Description:</label>
        <input type="text" id="fDesc" name="desc"><br><br>

        <input type="submit" value="Enviar">
    </form>
{% endblock %}