{% extends 'userNavbar.html.twig' %}
{% block title %}Form{% endblock %}

{% block body %}
    <form action="{{ path( 'doCreate' )  }}" method="post">
        <label for="fname">Name:</label>
        <input type="text" id="fname" name="name"><br><br>

        <label for="fPrice">Price :</label>
        <input type="text" id="fPrice" name="price"><br><br>

        <label for="fDesc">Description:</label>
        <input type="text" id="fDesc" name="desc"><br><br>

        <input type="submit" value="Enviar">
    </form>
{% endblock %}