{% extends 'base.html.twig' %}

{% block title %}Index!{% endblock %}

{% block body %}
<div>
    <a href="{{ path('create') }}" >Create</a>
    <br>
    <a href="{{ path('update') }}">Update</a>
    <br>
    <a href="{{ path('list') }}">List</a>
    <br>
    <a href="{{ path('delete') }}">Delete</a>
</div>
{% endblock %}
