{% extends 'userNavbar.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
<div>
    {# Select #}
    <a href="{{ path('create') }}" >Create</a>
    <br>
    {# SelectAll #}
    <a href="{{ path('listAll') }}">List</a>
</div>
{% endblock %}
