{% extends 'base.html.twig' %}
{% block title %}Form{% endblock %}

{% block body %}
    <div>
        <p>
            id: {{ id }}
        </p>
    </div>

    <div>
        <p>
            Name: {{ name }}
        </p>
    </div>

    <div>
        <p>
            Price: {{ price }}
        </p>
    </div>

    <div>
        <p>
            Description: {{ desc }}
        </p>
    </div>
{% endblock %}