{% extends 'base.html.twig' %}
{% block title %}Form{% endblock %}

{% block body %}
    <form action="{{ path( action, {id : _id})  }}" method="post">
        <label for="fId">Id:</label>
        <input type="text" id="fId" name="id" value="{{ _id }}" disabled><br><br>

        <label for="fName">Name:</label>
        <input type="text" id="fName" name="name"><br><br>

        <label for="fEmail">Email:</label>
        <input type="email" id="fEmail" name="email"><br><br>

        <label for="fPassword">Password:</label>
        <input type="password" id="fPassword" name="password"><br><br>

        <input type="submit" value="Enviar">
    </form>
{% endblock %}