{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div>
        {# Select #}
        <a href="{{ path('createFormUser') }}" >Create</a>
        <br>
        {# SelectAll #}
        <a href="{{ path('listAllUser') }}">List</a>
    </div>
{% endblock %}