{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div>
        {# Select #}
        <a href="{{ path('createForm') }}" >Create</a>
        <br>
        {# SelectAll #}
        <a href="{{ path('listAll') }}">List</a>
    </div>
{% endblock %}