{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div id="logreg-forms">
        <form class="form-signin"  action="{{ path('listAll') }}" method="post">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign up</h1>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <input type="password" id="inputConPassword" class="form-control" placeholder="Confirm password" required="">


            <button class="btn btn-success btn-block" type="submit">
                <i class="fas fa-user-plus"></i> Sign up new account
            </button>
            <hr>
            <button class="btn btn-primary btn-block" type="button" id="btn-signup"
                    onclick="window.location.href='{{ path('listAll') }}'">
                <i class="fas fa-sign-in-alt"></i> Sign in
            </button>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('css/login.css') }}"></script>
{% endblock %}